 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="/css/about.css">
 </head>
 
 <body>
    <div class="header">
      <h2>About Us.</h2>
  </div>

  <div class="content">
    <div class="tree">
      <img src="/img/tree.png" alt="">
    </div>

    <div class="info">
      <p>
        A forrest of sounds. <br> An interactive display of sounds <br> from diffrent places <br>
        combined in one forrest, <br> on the internet. 
      </p>
    </div>

  </div>

  <footer><a href="/">Home</a></footer>

 </body>
 </html>
 


