 
 body{
  font-family: 'Varela Round', sans-serif;
 }

 .header{
  margin: auto;
  font-size: 8rem;
  font-weight: bolder;
  padding: 2.5rem;
}

h2{
  margin: auto;
}

.content{
  display: flex
}

.tree{
  margin: auto;
  display: flex;
  width: 45%
}

img{
  height: 25rem;
  padding-left: 2.5rem
}

 .info{
  width: 50%;
  padding: 5rem;
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
}

p{
  font-size: 3rem;
  font-weight: bold;
}

footer{
  font-size: 3rem;
  font-weight: bold;
  padding-left: 2.5rem;
} 
